USE [master]
GO
/****** Object:  Database [POO]    Script Date: 5/20/2022 3:13:40 AM ******/
CREATE DATABASE [POO]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'POO', FILENAME = N'C:\POO_Proiect\POO.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'POO_log', FILENAME = N'C:\POO_Proiect\POO_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [POO].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [POO]
GO
/****** Object:  Table [dbo].[Arena]    Script Date: 5/20/2022 3:13:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Arena](
	[ID] [int] NULL,
	[Username] [nchar](256) NOT NULL,
	[Cavalerie] [int] NOT NULL,
	[Soldati] [int] NOT NULL,
	[Medici] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Credentials]    Script Date: 5/20/2022 3:13:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Credentials](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nchar](256) NOT NULL,
	[Password] [nchar](256) NOT NULL,
 CONSTRAINT [PK_Credentials] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Journal]    Script Date: 5/20/2022 3:13:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Journal](
	[TimeStamp] [nvarchar](max) NOT NULL,
	[Type] [nvarchar](max) NOT NULL,
	[Message] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Resurse]    Script Date: 5/20/2022 3:13:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Resurse](
	[ResurseID] [int] IDENTITY(1,1) NOT NULL,
	[PlayerID] [int] NOT NULL,
	[Muncitori] [int] NOT NULL,
	[Galbeni] [int] NOT NULL,
	[AutorizatieMilitara] [int] NOT NULL,
	[AutorizatieMedicala] [int] NOT NULL,
	[Cavalerie] [int] NOT NULL,
	[Soldati] [int] NOT NULL,
	[Medici] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ResurseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Statistici]    Script Date: 5/20/2022 3:13:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Statistici](
	[StatisticaID] [int] IDENTITY(1,1) NOT NULL,
	[PlayerID] [int] NULL,
	[Castiguri] [int] NOT NULL,
	[Infrangeri] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[StatisticaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Arena]  WITH CHECK ADD FOREIGN KEY([ID])
REFERENCES [dbo].[Credentials] ([ID])
GO
ALTER TABLE [dbo].[Resurse]  WITH CHECK ADD FOREIGN KEY([PlayerID])
REFERENCES [dbo].[Credentials] ([ID])
GO
ALTER TABLE [dbo].[Statistici]  WITH CHECK ADD FOREIGN KEY([PlayerID])
REFERENCES [dbo].[Credentials] ([ID])
GO
USE [master]
GO
